#header {
    width: auto;
    height: auto;
    position:relative;
    background-color: royalblue;
    border: solid,green, 2px;
    
}

#naslov {
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 30px;
}

.input{
    position: relative;
    width: 50%;
    height: 20px;
    left: 25%;
    border-radius: 4px;
}

#search{
    height: 20px;
    position: absolute;
    right: 240px;
}

#prvi{
    position: absolute;
    left: 30px;
    border-style: solid;
    border-color: royalblue;
    border-width: 2px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #888888;
    
}

#h2{
    color: blue;
    font-size: 20px;
    font-family: fantasy;
}

#slikaPrikazna{
    width: 300px;
}

#podatki{
    list-style-type: none;
    left: 100px;
    margin-left: -35px;
    margin-top: 0px;
}

#storyBoard{
    position: absolute;
    left: 400px;
    width: 40%;
    height: 400px;
    padding: 30px;
    border-style: solid;
    border-radius: 4px;
    border-color: royalblue;
    border-width: 2px;
    box-shadow: 5px 5px 5px #888888;
}

#text{
    position: relative;
    left: 25%;
    width: 50%;
    height: 20px;
}

#button{
    position: relative;
    left: 25%;
    width: 50px;
    height: 30px;
}

.textNormal{
    color: royalblue;
    text-align: center;
}